:root {
  --violet: #433d61;
  --purple: #553d61;
  --green: #bfcc81;
}

body,
html {
  background-color: var(--violet);
  scrollbar-gutter: stable;
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin: 10px;
  padding-top: 200px;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #433d61;
}

.container {
  max-width: 70vw;
  border-top: solid 1px white;
  z-index: 1;
}

header {
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #bfcc81;
  text-decoration: underline;
  text-decoration-color: #553d61;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100vw;
}

.question {
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  font-weight: normal;
  color: #bfcc81;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.response {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  font-weight: normal;
  max-width: 80vw;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.response.show {
  max-height: 1000px;
  position: relative;
}

a.btn {
  text-decoration: none;
  color: #bfcc81;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-between;
}

a.btn:hover {
  background-color: #553d61;
}

.rotated {
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.unrotated {
  transition: transform 0.5s;
  transform: rotate(1);
}

body section:last-child {
  border-bottom: solid 1px white;
}

p {
  margin: auto auto 10px auto;
}

h2 {
  margin: 0px 0px 10px 0px;
  text-align: left;
}

img {
  margin-right: 10px;
}

.subContainer {
  margin-top: 40px;
}
